<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="ConfigTask">

    <Properties>
        <Property name="logger" value="logs_folder"/>
    </Properties>

    <Appenders>

        <Console name="ConsoleAppender">
            <PatternLayout pattern="{%-5level} %m %n"/>
        </Console>

        <Console name="ConsoleAppenderWarn">
            <PatternLayout pattern="{%-5level} %m %n"/>

            <Filters>
                <ThresholdFilter level="warn" onMatch="NEUTRAL" onMismatch="DENY"/>
            </Filters>

        </Console>

        <File name="FileAppenderInfo" fileName="${logger}/logfileInfo.log">
            <PatternLayout pattern="{%-5level} %m %n"/>
            <Filters>
                <ThresholdFilter level="info" onMatch="NEUTRAL" onMismatch="DENY"/>
            </Filters>
        </File>


        <File name="FileAppender" fileName="${logger}/logfile.log">
            <PatternLayout pattern="{%-5level} %m %n"/>
        </File>

    <!--File wont be overwritten-->
        <RollingFile append="true" name="RollingFileAppender" fileName="${logger}/rollFileLogfile.log" filePattern="${logger}/rollFileLogfile-%d{yy-MM-dd}.log">
            <PatternLayout pattern="{%-5level} %m %n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>


        <!--Size limit 100mb-->
        <RollingFile append="true" name="RollingFileAppenderSize" fileName="${logger}/rollFileLogfileSize.log" filePattern="${logger}/rollFileLogfileSize-%d{yy-MM-dd}.log">
            <PatternLayout pattern="{%-5level} %m %n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100B"/>
            </Policies>
        </RollingFile>

        <!--TASK 3-->
        <RollingFile append="true" name="RollingFileAppenderError" fileName="${logger}/rollFileLogfileError.log" filePattern="${logger}/rollFileLogfileError-%d{yy-MM-dd}.log">
            <PatternLayout pattern="{%-5level} %m %n"/>
            <Filters>
                <ThresholdFilter level="error" onMatch="NEUTRAL" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="FileAppender" level="all"/>
            <AppenderRef ref="RollingFileAppender" level="all"/>
            <AppenderRef ref="RollingFileAppenderError" level="error"/>
        </Root>


        <Logger name="Main" level="INFO">
            <AppenderRef ref="ConsoleAppenderWarn" level="warn"/>
            <AppenderRef ref="FileAppenderInfo" level="info"/>
        </Logger>

    </Loggers>

</Configuration>